.mypage {
  padding-top: 30px;
  margin: auto;
  width: 60vw;
  height: 70%;
  background: #eee;
  border-radius: 5px;
  color: #282c34;
}

.info {
  width: 50vw;
  height: 30vh;
  margin: 25px auto;
}

/*input {*/
/*  width: 300px;*/
/*}*/

.remove {
  margin-top: 10px;
}

@media screen and (max-width: 991px)
{
  .mypage {width: 80%; height: 60%;}
}